html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  min-height: calc(100vh - 75px);
  // height: 100vh;

  .main {
    // border: 1px solid green;
    // height: calc(100vh - 75px);
    width: 100%;
    padding: 65px 60px 90px 60px;

    position: relative;

    // @include mobile-XS {
    //   padding-right: 0px;
    // }
  }
}
