.bg {
  // border: 1px solid green;
  width: 100%;
  position: relative;
  z-index: -2;

  .exploreBg-01 {
    @include img-svg(exploreBg-01);
    width: 100%;
    height: 200px;
    background-size: cover;
    position: absolute;
    // top: 390px;
    top: 465px;

    @include mobile {
      // top: 370px;
      top: 445px;
    }

    @include laptop {
      background-position: center;
    }
  }

  .exploreBg-02 {
    @include img-svg(exploreBg-01);
    background: linear-gradient(#0b437c 0%, #182c46 100%);
    width: 100%;
    height: 5400px;
    position: absolute;
    // top: 550px;
    top: 625px;

    @include desktop {
      height: 5200px;
    }
    @include mobile {
      height: 5130px;
    }
  }

  .exploreBg-03 {
    background-image: url("@/assets/images/exploreBg-03.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    // top: 4810px;
    top: 4885px;

    @include desktop {
      // top: 4600px;
      top: 4675px;
    }
    @include laptop {
      // top: 4550px;
      top: 4625px;
    }
    @include mobile {
      // top: 4345px;
      top: 4420px;
    }
  }
}

.explore {
  width: 100%;
  margin-bottom: 90px;
  // padding: 65px 0px 175px 0px;
  padding: 140px 0px 175px 0px;
}

.containerMain {
  @include containerMain;
  margin-top: 70px;

  @include iPad {
    padding: 0px;
  }
}

.exploreTitle {
  text-align: center;
  position: relative;
  width: 100%;

  > h4 {
    @include font($primary, 600, $fontSize-h3);
    line-height: 1.5;

    span {
      font-size: 34px;
    }
  }

  .fish {
    @include img-svg(explore_fishUp);
    width: 50px;
    height: 50px;
    position: absolute;
    right: 200px;
    bottom: -47px;

    @include laptop {
      right: 110px;
    }

    @include iPad {
      right: 40px;
    }

    @include mobile {
      bottom: 69px;
      width: 45px;
      height: 45px;
    }
  }
}

.scrollInfo {
  // border: 1px solid red;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: scroll_float 2s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;

  > p {
    @include font(white, 400, 12px);
    margin-bottom: 10px;
  }
}

.companyBox {
  display: flex;
  align-items: flex-end;
  // border: 1px solid red;
  margin: 60px 0px 140px 0px;

  @include mobile {
    align-items: center;
  }

  @include mobile {
    margin-bottom: 120px;
  }

  .companyImg {
    @include img-svg(company);
    width: 150px;
    height: 130px;
    margin-right: 20px;

    @include mobile {
      width: 120px;
      margin-top: 10px;
    }
  }

  > h5 {
    @include font(white, 500, $fontSize-h5);
    line-height: 1.5;

    @include mobile {
      font-size: 16px;
    }
  }
}

.biologyBox {
  display: flex;
  justify-content: space-around;
  // border: 1px solid red;
  width: 100%;
  align-items: center;

  .biologyTextBox {
    position: relative;
    // margin-right: 30px;

    @include iPad {
      padding-left: 20px;
    }

    > h5 {
      @include font(white, 500, $fontSize-h5);
      line-height: 1.5;
      margin-bottom: 140px;

      @include iPad {
        margin-bottom: 160px;
      }

      @include mobile {
        font-size: 16px;
      }

      span {
        font-size: 34px;
        font-weight: 600;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    .fishIconLeft {
      @include img-svg(quantity_fish_left);
      // background-size: auto;
      width: 275px;
      height: 88px;
      position: absolute;
      right: -100px;
      bottom: 95px;
      z-index: 1;

      animation-name: fish_move01;
      animation-duration: 5s;
      animation-iteration-count: infinite;

      @include iPad {
        width: 260px;
        right: -82px;
      }
      @include mobile {
        background-image: url("@/assets/images/quantity_fish_right01.svg");
        // transform: scaleX(-1);
        right: -45px;
        bottom: 100px;
        width: 112px;
        height: 44px;
      }
    }

    .dialogIcon {
      @include img-svg(dialog_box);
      width: 268px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include iPad {
        width: 250px;
      }

      @include mobile {
        background-image: none;
        // width: 163px;
        width: 121px;
      }
      @include mobile-XS {
        // width: 163px;
        // width: 121px;
      }

      > p {
        @include font($secondary, 500, 13px);
        line-height: 1.5;

        @include iPad {
          font-size: 12px;
          margin-bottom: 5px;
          margin-left: 5px;
        }

        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  .biologyImgBox {
    position: relative;
    width: 100%;

    @include desktop {
      margin-left: 20px;
    }
    @include iPad {
      margin-left: 10px;
    }
    @include mobile {
      margin-left: 20px;
    }

    .biologyImg {
      @include img-jpg(explore_01);
      background-size: cover;
      height: 453px;
      // width: 680px;
      width: 97%;

      @include desktop {
        // width: 600px;
        // width: 97%;
        height: 450px;
      }
      @include laptop {
        // width: 350px;
        // width: 96%;
        // height: 400px;
        background-position: -80px;
      }
      @include iPad {
        @include img-jpg(explore_01a);
        width: 100%;
        background-position: 0px;
      }

      // > img {
      //   object-position: -80px;

      //   @include mobile {
      //     object-position: -94px;
      //   }
      // }
    }

    .fishIconRight {
      @include img-svg(quantity_fish_right);
      width: 118px;
      height: 43px;
      position: absolute;
      right: -55px;
      bottom: 40px;

      animation-name: fish_move02;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-delay: 2s;

      @include desktop {
        right: -16px;
      }

      @include laptop {
        right: -27px;
        width: 100px;
      }

      @include iPad {
        display: none;
      }
    }
  }
}

.waterVolumeBox {
  margin: 140px 0px;
  // border: 1px solid green;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;

  @include iPad {
    margin-bottom: 180px;
  }
  @include mobile {
    margin-bottom: 160px;
    margin-top: 120px;
  }

  .waterVolumeImgBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include desktop {
      margin-right: 20px;
    }
    @include iPad {
      margin-right: 10px;
    }
    @include mobile {
      margin-right: 0px;
    }

    .waterVolumeImg {
      width: 809px;

      @include desktop {
        // width: 710px;
        width: 97%;
        height: 450px;
      }

      @include iPad {
        width: 100%;
      }
    }

    .cupBox {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      justify-content: flex-end;

      .water_cup {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0px;
        left: 150px;

        @include desktop {
          left: 110px;
        }

        @include laptop {
          left: 50px;
        }
        @include iPad {
          bottom: -55px;
          left: 78px;
        }
        @include mobile {
          left: 20px;
        }

        .cup {
          display: flex;

          > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 10px;

            &:nth-child(1) {
              @include laptop {
                display: none;
              }
              @include iPad {
                display: flex;
              }
            }

            .cupImg {
              @include img-svg(water_cup);
              width: 32px;
              height: 51px;

              @include mobile {
                width: 30px;
              }
            }

            p {
              @include font(white, 500, 10px);
              margin-top: 10px;

              @include mobile {
                font-size: 9px;
              }
            }
          }
        }
        .threeDot {
          @include img-svg(dot);
          width: 44px;
          height: 8px;

          @include mobile {
            width: 40px;
          }
        }
      }

      > h5 {
        @include font(white, 500, $fontSize-h5);
        line-height: 1.5;
        margin-right: 150px;

        @include desktop {
          margin-right: 100px;
        }
        @include laptop {
          margin-right: 30px;
        }

        @include iPad {
          display: none;
        }

        span {
          font-size: 34px;
          font-weight: 600;
        }
      }
    }
  }

  .waterVolumeTextBox {
    position: relative;

    @include iPad {
      padding-right: 20px;
    }

    > h5 {
      @include font(white, 500, $fontSize-h5);
      line-height: 1.5;
      text-align: end;
      margin-bottom: 130px;

      @include mobile {
        font-size: 16px;
        margin-bottom: 112px;
      }

      span {
        font-size: 34px;
        font-weight: 600;

        @include mobile {
          font-size: 30px;
        }
      }
    }
    .waveImg {
      @include img-svg(explore_wave);
      width: 159px;
      height: 26px;
      position: absolute;
      top: 217px;
      left: 69px;

      @include desktop {
        left: 25px;
      }

      @include iPad {
        left: 36px;
        width: 140px;
      }

      @include mobile {
        width: 122px;
        left: 27px;
      }
    }
    .dialogIcon {
      @include img-svg(dialog_box);
      width: 165px;
      height: 45px;
      transform: scaleX(-1);
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        background-image: none;
        width: 140px;
      }

      > p {
        @include font($secondary, 500, 13px);
        line-height: 1.5;
        transform: scaleX(-1);
        margin-bottom: 8px;

        @include iPad {
          font-size: 12px;
        }
      }
    }
  }
}

.sizeBox {
  width: 100%;
  // border: 1px solid pink;
  display: flex;
  align-items: center;
  // justify-content: center;
  justify-content: flex-end;
  padding-right: 20px;

  @include iPad {
    padding-right: 0px;
  }

  .sizeTextBox {
    margin-right: 80px;
    position: relative;

    @include laptop {
      margin-right: 20px;
    }
    @include iPad {
      padding-left: 20px;
    }
    @include mobile {
      margin-right: 10px;
    }

    .sizeText {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 380px;

      @include laptop {
        margin-bottom: 285px;
        justify-content: space-between;
      }

      &:last-child {
        margin: 0px;
      }

      > h5 {
        @include font(white, 500, $fontSize-h5);
        line-height: 1.5;

        @include mobile {
          font-size: 16px;
        }

        span {
          font-size: 34px;
          font-weight: 600;

          @include mobile {
            font-size: 30px;
          }
        }
      }

      .sizeSvg {
        @include img-svg(water_depth);
        width: 109px;
        height: 80px;

        @include iPad {
          display: none;
        }
        // position: absolute;
        // top: 12px;
        // left: 170px;
      }
    }

    .sizeImg01 {
      width: 400px;
      position: absolute;
      top: 150px;
      z-index: 1;

      @include laptop {
        width: 333px;
        top: 126px;
      }

      @include iPad {
        width: 292px;
        top: 142px;
      }

      @include mobile {
        width: 250px;
        top: 142px;
      }
    }
  }

  .sizeImgBox {
    position: relative;

    .sizeImg02 {
      width: 495px;

      @include desktop {
        width: 460px;
      }

      @include laptop {
        width: 355px;
        height: 550px;
      }

      @include iPad {
        width: 100%;
      }
    }

    .tortoiseImg {
      @include img-svg(tortoise);
      width: 80px;
      height: 79px;
      position: absolute;
      bottom: -37px;
      left: -40px;

      animation-name: move;
      animation-duration: 5s;
      animation-iteration-count: infinite;

      @include laptop {
        left: -30px;
        width: 70px;
      }

      @include mobile {
        width: 65px;
      }
    }
  }
}

.thicknessBg {
  @include img-jpg(explore_05);
  background-size: cover;
  width: 100%;
  height: 418px;
  // position: absolute;
  // z-index: -1;
  margin-top: 140px;

  @include mobile {
    margin-top: 120px;
  }

  @include mobile-XS {
    background-position: -324px;
  }
}

.thicknessMain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // @include flexCenter;
  @include rwdContainerMain;
  max-width: 1080px;
  // border: 1px solid red;
  height: 100%;
  // margin-top: 70px;

  @include desktop {
    max-width: 1140px;
  }
  @include laptop {
    max-width: 960px;
  }
  @include iPad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 540px;
  }
  @include mobile-XS {
    max-width: 390px;
  }
}

.thicknessBox {
  .thicknessTitleBox {
    display: flex;
    align-items: center;

    > h5 {
      @include font(white, 500, $fontSize-h5);
      line-height: 1.5;
      text-align: end;
      margin-right: 40px;

      @include mobile {
        font-size: 16px;
      }

      span {
        font-size: 34px;
        font-weight: 600;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    .thicknessImg {
      @include img-svg(cube);
      width: 98px;
      height: 98px;

      @include iPad {
        width: 90px;
        height: 90px;
      }

      @include mobile {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.thicknessDialogMain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include rwdContainerMain;
  max-width: 1080px;
  // border: 1px solid red;
  // margin-top: 70px;
  margin-bottom: 140px;

  @include desktop {
    max-width: 1140px;
  }
  @include laptop {
    max-width: 960px;
  }
  @include iPad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 540px;
    margin-bottom: 120px;
  }
  @include mobile-XS {
    max-width: 390px;
  }

  > .dialogIcon {
    @include img-svg(dialog_box01);
    width: 280px;
    height: 57px;
    // transform: scaleX(-1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;

    > p {
      @include font($secondary, 500, 13px);
      line-height: 1.5;
      // transform: scaleX(-1);
      margin-bottom: 8px;

      @include iPad {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
  }
}

.tunnelBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  // border: 1px solid pink;

  @include iPad {
    justify-content: space-between;
  }

  .tunnelImgBox {
    width: 780px;
    height: 480px;

    @include desktop {
      // width: 695px;
      width: 72%;
      height: 450px;
      margin-right: 20px;
    }

    @include laptop {
      width: 58%;
    }

    @include mobile {
      width: 61%;
    }
    @include mobile-XS {
      width: 66%;
    }
  }

  .tunnelTitleBox {
    @include iPad {
      padding-right: 20px;
    }

    > h5 {
      @include font(white, 500, $fontSize-h5);
      line-height: 1.5;
      // margin-right: 30px;

      @include mobile {
        font-size: 16px;
      }

      span {
        font-size: 34px;
        font-weight: 600;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    .tunnelIcon {
      @include img-svg(tunnel);
      width: 140px;
      height: 105px;
      margin-top: 60px;

      @include mobile {
        width: 120px;
      }

      @include mobile-XS {
        width: 110px;
      }
    }
  }
}
.jellyfishBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  // border: 1px solid pink;
  margin: 140px 0px;

  @include mobile {
    margin: 120px 0px;
  }

  .jellyfishTitleBox {
    position: relative;

    @include iPad {
      padding-left: 20px;
    }

    > h5 {
      @include font(white, 500, $fontSize-h5);
      line-height: 1.5;

      @include mobile {
        font-size: 16px;
      }

      span {
        font-size: 34px;
        font-weight: 600;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    > .dialogIcon {
      @include img-svg(dialog_box);
      width: 220px;
      height: 57px;
      // transform: scaleX(-1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;

      @include iPad {
        width: 220px;
      }
      @include mobile {
        background-image: none;
        width: 160px;
      }
      @include mobile-XS {
        width: 140px;
      }

      > p {
        @include font($secondary, 500, 13px);
        line-height: 1.5;
        // transform: scaleX(-1);
        margin-bottom: 8px;

        @include iPad {
          font-size: 12px;
          // margin-bottom: 5px;
        }
      }
    }

    .jellyfishIcon {
      @include img-svg(jellyfish);
      width: 150px;
      height: 120px;
      position: absolute;
      bottom: -133px;
      right: -64px;

      animation-name: float;
      animation-duration: 3s;
      animation-iteration-count: infinite;

      @include mobile {
        width: 115px;
        right: -44px;
      }

      @include mobile-XS {
        width: 105px;
        right: -35px;
      }
    }
  }

  .jellyfishImgBox {
    width: 750px;
    height: 480px;

    @include desktop {
      // width: 660px;
      width: 68%;
      height: 450px;
      margin-left: 20px;
    }
    @include laptop {
      width: 60%;
    }

    @include iPad {
      width: 100%;
    }

    @include mobile-XS {
      margin-left: 10px;
    }
  }
}

.lightBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  // border: 1px solid pink;

  .lightImgBox {
    width: 750px;
    height: 480px;

    @include desktop {
      // width: 660px;
      width: 68%;
      margin-right: 20px;
      height: 450px;
    }

    @include laptop {
      width: 58%;
    }

    @include iPad {
      width: 100%;
      // margin-right: 10px;
    }

    @include mobile-XS {
      margin-right: 20px;
    }
  }

  .lightTitleBox {
    position: relative;

    @include iPad {
      padding-right: 20px;
    }

    .lightIcon01 {
      @include img-svg(shine_01);
      width: 38px;
      height: 50px;
      position: absolute;
      top: -58px;
      left: -35px;

      animation-name: star;
      animation-duration: 3s;
      animation-iteration-count: infinite;

      @include iPad {
        width: 32px;
        left: -20px;
      }

      @include mobile {
        left: -30px;
      }
    }

    > h5 {
      @include font(white, 500, $fontSize-h5);
      line-height: 1.5;

      @include mobile {
        font-size: 16px;
      }

      span {
        font-size: 34px;
        font-weight: 600;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    .lightIcon02 {
      @include img-svg(shine_02);
      width: 45px;
      height: 53px;
      position: absolute;
      bottom: 94px;
      right: -22px;

      animation-name: star;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: 1.5s;

      @include iPad {
        width: 35px;
        right: 16px;
        bottom: 90px;
      }
    }

    > .dialogIcon {
      @include img-svg(dialog_box);
      width: 220px;
      height: 57px;
      // transform: scaleX(-1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;

      @include iPad {
        width: 210px;
      }
      @include mobile {
        background-image: none;
        width: 176px;
      }
      @include mobile-XS {
        width: 106px;
      }

      > p {
        @include font($secondary, 500, 13px);
        line-height: 1.5;
        // transform: scaleX(-1);
        margin-bottom: 8px;

        @include iPad {
          font-size: 12px;
          margin-left: 10px;
        }

        @include mobile {
          margin-left: 0px;
        }
      }
    }
  }
}

.introduceBox {
  width: 100%;
  // border: 1px solid pink;
  margin-top: 140px;
  // text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 330px;

  @include mobile {
    margin-top: 120px;
  }

  > h5 {
    @include font(white, 500, $fontSize-h5);
    line-height: 1.5;
    text-align: center;

    @include iPad {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
      font-weight: 400;
    }
  }

  a {
    @include font($secondary, 400, $fontSize-h6);
    @include staticAbutton($secondary, inherit);
    margin-top: 53px;

    transition: all 0.3s;

    &:hover {
      background-color: $secondary;
      color: white;
    }
  }
}

img {
  @include img;
}

/* scroll動畫 */
@keyframes scroll_float {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 5px);
  }
  70% {
    transform: translate(0, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* 小魚移動 */
@keyframes fish_move01 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(50px, 0px);
    opacity: 1;
  }
}

@keyframes fish_move02 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50px, 0px);
    opacity: 1;
  }
}

/* 烏龜移動 */
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(8px, -8px);
  }
  70% {
    transform: translate(16px, -20px);
  }
  85% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* 水母漂浮 */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 4px);
  }
  70% {
    transform: translate(0, -4px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* 星星閃爍 */
@keyframes star {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
