// 顏色
$primary: #1152a0; // 主色
$secondary: #4ae5f0; // 輔色
$tertiary: #1e2c4e; // 輔色
$accent: #e57149; // 強調色

$bg-primary: #f3f3f3; // 背景色

$black: #474747;
$black-light: #d6d6d6;

$brown: #cd3c3c;
$red: #ff6c6c;

// 字體大小
$fontSize-base: 16px; // 預設
$fontSize-h1: 35px;
$fontSize-h2: 28px;
$fontSize-h3: 24px;
$fontSize-h4: 20px;
$fontSize-h5: 18px;
$fontSize-h6: 14px;
