.news {
  width: 100%;
  margin-bottom: 100px;
  padding-top: 75px;
}
.containerMain {
  @include containerMain;
  margin-top: 70px;
}

// ----------------- 新聞列表 -----------------
.newsContent {
  display: grid; // 排版
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  position: relative;
  width: 100%;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 25px;

  @include laptop {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr 1fr;
  }
  @include mobile-XS {
    grid-template-columns: 1fr;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1.5px;
    background: $black-light;
    position: absolute;
    top: -20px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1.5px;
    background: $black-light;
    position: absolute;
    bottom: -20px;
  }
}

// ----------------- loading -----------------
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
}
