.memberList {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include mobile {
    margin-bottom: 60px;
  }

  > li {
    margin: 0px 15px;

    @include mobile {
      margin: 0px 10px;
    }

    &:hover > a {
      color: #2e75b7;
    }

    > a {
      @include font($black, 500, 17px);
      transition: all 0.2s;

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

.router-link-active {
  color: #2e75b7 !important;
}
